<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" href="/images/3dash-mark-color.svg"/>
        <title>{% if page.title %}{{ page.title }} | {% endif %}3dash Static Site Generator</title>
        <style>
        :root {
            --blue: #2f8eb5;
            --sp: 24px;
        }
        body{
            font-family: monospace;
            font-size: 16px;
            line-height: var(--sp);
            margin: 0 auto;
            padding: 0 var(--sp);
            max-width: 600px;
        }
        a{
            color: var(--blue);
        }
        header, footer {
            text-align: center;
        }
        footer{
            border-top: 1px solid var(--blue);
            margin-top: var(--sp);
            padding-top: var(--sp);
        }
        .logo img{
            width: 100px;
        }
        p code{
            background: #EEE;
            border-radius: 3px;
            padding: 2px 4px;
        }
        pre{
            border: 1px solid var(--blue);
            border-radius: 3px;
            max-width: 100%;
            overflow: auto;
            padding: 20px;
        }
        </style>
    </head>
    <body>
        <header>
            <h1 title="3dash Static Site Generator for PHP"><a class="logo" href="/"><img src="/images/3dash-logo-vertical-color.svg" alt="3dash logo"/></a></h1>
            <p>
                <a href="https://github.com/nmcteam/3dash">Contribute on GitHub</a>
            </p>
        </header>

        <main>
            {% block layout %}{% endblock %}
        </main>

        <footer>
            <p>
                Made with &#9829; at <a href="https://www.newmediacampaigns.com">New Media Campaigns</a>.
            </p>
            <p>
                Software provided under <a href="https://github.com/nmcteam/3dash/blob/main/LICENSE">MIT Public License</a>.
            </p>
        </footer>
    </body>
</html>
